##  **Pandas Day(1)**

In [19]:
# import the pandas library as pd
import pandas as pd

In [18]:
pd.__version__                                # check the version of the pandas library that is curretly we are using

'2.2.3'

In [15]:
# Now i am going to read the csv file in the pandas library and store it in a variable called df

df=pd.read_csv("data.csv")
df                              # here we simply call the data set in  the output of the code

,PROVINCE,DIVISION,DISTRICT,SUB DIVISION,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),SEX RATIO (RURAL),...,POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
0,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,BAHAWALNAGAR TEHSIL,1729.0,619550,316864,302644,42,104.70,...,407768,2.22,193840,98391,95402,47,103.13,6.02,133785,1.97
1,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,CHISHTIAN TEHSIL,1500.0,540342,273788,266500,54,102.73,...,395983,1.65,149424,75546,73851,27,102.30,6.01,102287,2.01
2,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,FORT ABBAS TEHSIL,2536.0,361240,182655,178541,44,102.30,...,250959,1.93,61528,31360,30150,18,104.01,6.00,34637,3.06
3,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,HAROONABAD TEHSIL,1295.0,382115,192278,189808,29,101.30,...,297343,1.33,142600,71345,71236,19,100.15,6.02,84424,2.79
4,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,MINCHINABAD TEHSIL,1818.0,452723,231506,221178,39,104.67,...,316593,1.90,72294,36694,35590,10,103.10,6.34,37668,3.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,SARAROGHA TEHSIL,813.0,98180,51479,46694,7,110.25,...,72063,1.64,0,0,0,0,0.00,0.00,0,0.00
524,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,SERWEKAI TEHSIL,398.0,54540,28695,25844,1,111.03,...,31472,2.93,0,0,0,0,0.00,0.00,0,0.00
525,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,TIARZA TEHSIL,734.0,45156,23649,21507,0,109.96,...,37708,0.95,0,0,0,0,0.00,0.00,0,0.00
526,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,TOI KHULLA TEHSIL,567.0,50413,27462,22947,4,119.68,...,36508,1.71,0,0,0,0,0.00,0.00,0,0.00
527,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,WANA TEHSIL,2315.0,153156,81342,71796,18,113.30,...,90772,2.79,0,0,0,0,0.00,0.00,0,0.00

In [22]:
df.to_excel("data_1.xlsx")              # here  we have simply transform the csv file into the excel file

In [21]:
# install the openpyxl library for transforming the csv file into the excel file.
!pip install openpyxl --quiet

In [23]:
# now we are going to read the excel file that is data_1.xlsx that is obtain by converting the csv file that is data.csv
df_1=pd.read_excel("data_1.xlsx")
df_1.head()

,Unnamed: 0,PROVINCE,DIVISION,DISTRICT,SUB DIVISION,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),...,POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
0,0,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,BAHAWALNAGAR TEHSIL,1729.0,619550,316864,302644,42,...,407768,2.22,193840,98391,95402,47,103.13,6.02,133785,1.97
1,1,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,CHISHTIAN TEHSIL,1500.0,540342,273788,266500,54,...,395983,1.65,149424,75546,73851,27,102.30,6.01,102287,2.01
2,2,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,FORT ABBAS TEHSIL,2536.0,361240,182655,178541,44,...,250959,1.93,61528,31360,30150,18,104.01,6.00,34637,3.06
3,3,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,HAROONABAD TEHSIL,1295.0,382115,192278,189808,29,...,297343,1.33,142600,71345,71236,19,100.15,6.02,84424,2.79
4,4,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,MINCHINABAD TEHSIL,1818.0,452723,231506,221178,39,...,316593,1.90,72294,36694,35590,10,103.10,6.34,37668,3.48

# **Pandas Tips**

In [31]:
print(df_1)

     Unnamed: 0  PROVINCE                   DIVISION  \
0             0    PUNJAB        BAHAWALPUR DIVISION
1             1    PUNJAB        BAHAWALPUR DIVISION
2             2    PUNJAB        BAHAWALPUR DIVISION
3             3    PUNJAB        BAHAWALPUR DIVISION
4             4    PUNJAB        BAHAWALPUR DIVISION
..          ...       ...                        ...
523         523  KPK/FATA  DERA ISMAIL KHAN DIVISION
524         524  KPK/FATA  DERA ISMAIL KHAN DIVISION
525         525  KPK/FATA  DERA ISMAIL KHAN DIVISION
526         526  KPK/FATA  DERA ISMAIL KHAN DIVISION
527         527  KPK/FATA  DERA ISMAIL KHAN DIVISION

                      DISTRICT         SUB DIVISION  AREA (sq.km)  \
0        BAHAWALNAGAR DISTRICT  BAHAWALNAGAR TEHSIL        1729.0
1        BAHAWALNAGAR DISTRICT     CHISHTIAN TEHSIL        1500.0
2        BAHAWALNAGAR DISTRICT    FORT ABBAS TEHSIL        2536.0
3        BAHAWALNAGAR DISTRICT    HAROONABAD TEHSIL        1295.0
4        BAHAWALNAGAR DISTRICT   MINCHINABAD TEHSIL        1818.0
..                         ...                  ...           ...
523  SOUTH WAZIRISTAN DISTRICT     SARAROGHA TEHSIL         813.0
524  SOUTH WAZIRISTAN DISTRICT      SERWEKAI TEHSIL         398.0
525  SOUTH WAZIRISTAN DISTRICT        TIARZA TEHSIL         734.0
526  SOUTH WAZIRISTAN DISTRICT    TOI KHULLA TEHSIL         567.0
527  SOUTH WAZIRISTAN DISTRICT          WANA TEHSIL        2315.0

     ALL SEXES (RURAL)  MALE (RURAL)  FEMALE (RURAL)  TRANSGENDER (RURAL)  \
0               619550        316864          302644                   42
1               540342        273788          266500                   54
2               361240        182655          178541                   44
3               382115        192278          189808                   29
4               452723        231506          221178                   39
..                 ...           ...             ...                  ...
523              98180         51479           46694                    7
524              54540         28695           25844                    1
525              45156         23649           21507                    0
526              50413         27462           22947                    4
527             153156         81342           71796                   18

     ...  POPULATION 1998 (RURAL)  ANNUAL GROWTH RATE (RURAL)  \
0    ...                   407768                        2.22
1    ...                   395983                        1.65
2    ...                   250959                        1.93
3    ...                   297343                        1.33
4    ...                   316593                        1.90
..   ...                      ...                         ...
523  ...                    72063                        1.64
524  ...                    31472                        2.93
525  ...                    37708                        0.95
526  ...                    36508                        1.71
527  ...                    90772                        2.79

     ALL SEXES (URBAN)  MALE (URBAN)  FEMALE (URBAN)  TRANSGENDER (URBAN)  \
0               193840         98391           95402                   47
1               149424         75546           73851                   27
2                61528         31360           30150                   18
3               142600         71345           71236                   19
4                72294         36694           35590                   10
..                 ...           ...             ...                  ...
523                  0             0               0                    0
524                  0             0               0                    0
525                  0             0               0                    0
526                  0             0               0                    0
527                  0             0               0                    0

     SEX RATIO (URBAN)  AVG HOUSEHOLD SIZE (URBAN)  POPULATION 1998 (URBAN)  \
0               103.13                        6.02                   133785
1               102.30                        6.01                   102287
2               104.01                        6.00                    34637
3               100.15                        6.02                    84424
4               103.10                        6.34                    37668
..                 ...                         ...                      ...
523               0.00                        0.00                        0
524               0.00                        0.00                        0
525               0.00                        0.00                        0
526               0.00                        0.00                        0
527               0.00                        0.00                        0

     ANNUAL GROWTH RATE (URBAN)
0                          1.97
1                          2.01
2                          3.06
3                          2.79
4                          3.48
..                          ...
523                        0.00
524                        0.00
525                        0.00
526                        0.00
527                        0.00

[528 rows x 22 columns]

In [9]:
# if you want to read the multiple sheet in the excel file  than you can use the following code 
df_1=pd.read_excel("data_1.xlsx",sheet_name="Sheet1")
df_1.head()

,Unnamed: 0,PROVINCE,DIVISION,DISTRICT,SUB DIVISION,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),...,POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
0,0,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,BAHAWALNAGAR TEHSIL,1729.0,619550,316864,302644,42,...,407768,2.22,193840,98391,95402,47,103.13,6.02,133785,1.97
1,1,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,CHISHTIAN TEHSIL,1500.0,540342,273788,266500,54,...,395983,1.65,149424,75546,73851,27,102.30,6.01,102287,2.01
2,2,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,FORT ABBAS TEHSIL,2536.0,361240,182655,178541,44,...,250959,1.93,61528,31360,30150,18,104.01,6.00,34637,3.06
3,3,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,HAROONABAD TEHSIL,1295.0,382115,192278,189808,29,...,297343,1.33,142600,71345,71236,19,100.15,6.02,84424,2.79
4,4,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,MINCHINABAD TEHSIL,1818.0,452723,231506,221178,39,...,316593,1.90,72294,36694,35590,10,103.10,6.34,37668,3.48

In [24]:
# now we are going to see some of the basic thing in the pandas library on the dataset we have in the 
# xlsx and the csv file
df1=pd.read_excel("data_1.xlsx")

In [25]:
df_1.head()                    # here we can see the top 5 rows of the dataset

,Unnamed: 0,PROVINCE,DIVISION,DISTRICT,SUB DIVISION,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),...,POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
0,0,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,BAHAWALNAGAR TEHSIL,1729.0,619550,316864,302644,42,...,407768,2.22,193840,98391,95402,47,103.13,6.02,133785,1.97
1,1,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,CHISHTIAN TEHSIL,1500.0,540342,273788,266500,54,...,395983,1.65,149424,75546,73851,27,102.30,6.01,102287,2.01
2,2,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,FORT ABBAS TEHSIL,2536.0,361240,182655,178541,44,...,250959,1.93,61528,31360,30150,18,104.01,6.00,34637,3.06
3,3,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,HAROONABAD TEHSIL,1295.0,382115,192278,189808,29,...,297343,1.33,142600,71345,71236,19,100.15,6.02,84424,2.79
4,4,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,MINCHINABAD TEHSIL,1818.0,452723,231506,221178,39,...,316593,1.90,72294,36694,35590,10,103.10,6.34,37668,3.48

In [26]:
df_1.tail()                     # here we can see the last 5 rows of the dataset

,Unnamed: 0,PROVINCE,DIVISION,DISTRICT,SUB DIVISION,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),...,POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
523,523,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,SARAROGHA TEHSIL,813.0,98180,51479,46694,7,...,72063,1.64,0,0,0,0,0.0,0.0,0,0.0
524,524,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,SERWEKAI TEHSIL,398.0,54540,28695,25844,1,...,31472,2.93,0,0,0,0,0.0,0.0,0,0.0
525,525,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,TIARZA TEHSIL,734.0,45156,23649,21507,0,...,37708,0.95,0,0,0,0,0.0,0.0,0,0.0
526,526,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,TOI KHULLA TEHSIL,567.0,50413,27462,22947,4,...,36508,1.71,0,0,0,0,0.0,0.0,0,0.0
527,527,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,WANA TEHSIL,2315.0,153156,81342,71796,18,...,90772,2.79,0,0,0,0,0.0,0.0,0,0.0

In [27]:
df_1.info()                             # here we can see the information of the dataset what the data is all about

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  528 non-null    int64
 1   PROVINCE                    528 non-null    object
 2   DIVISION                    528 non-null    object
 3   DISTRICT                    528 non-null    object
 4   SUB DIVISION                528 non-null    object
 5   AREA (sq.km)                528 non-null    float64
 6   ALL SEXES (RURAL)           528 non-null    int64
 7   MALE (RURAL)                528 non-null    int64
 8   FEMALE (RURAL)              528 non-null    int64
 9   TRANSGENDER (RURAL)         528 non-null    int64
 10  SEX RATIO (RURAL)           528 non-null    float64
 11  AVG HOUSEHOLD SIZE (RURAL)  528 non-null    float64
 12  POPULATION 1998 (RURAL)     528 non-null    int64
 13  ANNUAL GROWTH RATE (RURAL)  528 non-null    float64
 14  ALL SEXES (URBAN)           528 non-null    int64
 15  MALE (URBAN)                528 non-null    int64
 16  FEMALE (URBAN)              528 non-null    int64
 17  TRANSGENDER (URBAN)         528 non-null    int64
 18  SEX RATIO (URBAN)           528 non-null    float64
 19  AVG HOUSEHOLD SIZE (URBAN)  528 non-null    float64
 20  POPULATION 1998 (URBAN)     528 non-null    int64
 21  ANNUAL GROWTH RATE (URBAN)  528 non-null    float64
dtypes: float64(7), int64(11), object(4)
memory usage: 90.9+ KB

In [28]:
# total no. of cells or entries in the data are
528*22

11616

In [29]:
# now i am going to see the shape and the summery of the dataset
df_1.shape                      # here we can see the shape of the dataset that is 528 rows and 22 columns

(528, 22)

In [30]:
df_1.describe()                 # here we can see the summery of the dataset

,Unnamed: 0,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),SEX RATIO (RURAL),AVG HOUSEHOLD SIZE (RURAL),POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
count,528.00000,528.000000,5.280000e+02,5.280000e+02,5.280000e+02,528.000000,528.000000,528.000000,5.280000e+02,528.000000,5.280000e+02,5.280000e+02,5.280000e+02,528.000000,528.000000,528.000000,5.280000e+02,528.000000
mean,263.50000,1492.005871,2.462780e+05,1.252757e+05,1.209841e+05,18.174242,98.982614,6.277064,1.674280e+05,3.124792,1.408635e+05,7.284339e+04,6.799787e+04,22.276515,75.411269,4.406402,8.014457e+04,1.920814
std,152.56474,2039.453778,2.711898e+05,1.375630e+05,1.337169e+05,25.522248,26.812660,2.074947,1.783890e+05,9.577872,3.512463e+05,1.823492e+05,1.688725e+05,66.068127,49.687341,2.948336,2.023120e+05,2.098908
min,0.00000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,131.75000,425.000000,5.093450e+04,2.712725e+04,2.397900e+04,1.000000,101.105000,5.700000,3.527350e+04,1.440000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000
50%,263.50000,882.000000,1.652410e+05,8.413450e+04,8.204400e+04,10.000000,105.285000,6.310000,1.172065e+05,2.030000,4.325450e+04,2.198000e+04,2.099900e+04,3.000000,103.195000,5.755000,2.129800e+04,1.855000
75%,395.25000,1734.250000,3.129112e+05,1.605022e+05,1.522190e+05,25.000000,108.347500,7.200000,2.130542e+05,2.812500,1.178148e+05,6.030175e+04,5.746525e+04,19.000000,107.040000,6.340000,6.542225e+04,2.985000
max,527.00000,18374.000000,2.297375e+06,1.172995e+06,1.124167e+06,213.000000,139.380000,12.430000,1.044035e+06,100.000000,3.653616e+06,1.905921e+06,1.746900e+06,795.000000,297.810000,10.060000,2.075867e+06,19.780000